{
  "default": {
    "description": "Default knowledge repository",
    "path": "/app/data/contexts/default",
    "working_path": "/app/data/contexts/default",
    "input_path": "/app/data/contexts/default_inputs",
    "created_at": "2025-05-26 20:05:25.068896",
    "is_current": true
  }
}